.TabContainer {
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-size: 1em;
  display: flex;
  flex-direction: row;
  position: fixed;
  z-index: 100;
  background-color: white;
  justify-content: space-around;
  align-items: center;
  border: 1px solid rgb(226, 232, 240);
}
.TabsMenu {
  margin: 0px;
  padding: 0px;
  font-size: 1em;
  display: flex;
  flex: 2;
  top: 0;
  left: 0;
} 

.TabsItems {
  width: 80%;
  padding: 0.5em 0;
  line-height: 140%;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  font-size: 1em;
  cursor: pointer;
}

.TabsItems:hover {
  background: blue;
  transition: 0.5s;
}
