{
  "printWidth": 120,
  "tabWidth": 2,
  "tabs": false,
  "semi": true,
  "trailingComma": "es5",
  "semicolons": true,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "jsxSingleQuote": true,
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "auto",
  "html": "esbenp.prettier-vscode"
}