.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: calc(3em + 0.5%);
}

.container {
  position: fixed;
  left: 0;
  width: 30%;
  display: flex;
  flex-direction: column;
  height: 100%;
  color: white;
}

.containerTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #282a36;
  height: 5%;
  flex: 0.5;
  font-size: 14px;
}

.containerBtn {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex: 1.3;
  background: #282a36;
}

.containerEmpty {
  display: flex;
  justify-content: center;
  padding: 10% 0;
}
